{% extends "pages/base.jinja" %}

{% block title %}
 randomNumber
{% endblock %}

{% block content %}
<h1>Here is a random number!</h1>

<article id="random-num">

  {{number}}

</article>

{% endblock %}